<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>{% if title %}{{title}}{% else %}Notes{% endif %}</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>
    <nav class="nav">
        <ul class="flex-box">
            <li class="logo"><a class="base" style="color: white; text-decoration:unset" href="{% url 'main' %}">Notes</a></li>
            <li class="settings"><a class="base" style="color: white; text-decoration:unset" href="{% url 'settings' %}">Settings</a></li>
            <li class="logout"><a class="base" href="{% url 'logout' %}" style="color: white; text-decoration:unset">Logout</a></li>
        </ul>
    </nav>

    <div class="container">
    {% block body %}
    {% endblock %}
    </div>

</body>
</html>