{% extends 'home/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'home/css/search_note.css' %}">
{% endblock %}


{% block body %}
<div class="sub-container">
    <form method="POST">
        {% csrf_token %}
        {{form.search_reminder}}
        <input class="search" type="submit" value="Search">
    </form>
    <div class="notes">
        {% if info %}
            <div class="info"></div>
        {% else %}
            {% for note in notes %}
                <a style="color: unset;text-decoration:unset" href="{% url 'view_note' note.pk %}">
                    <div class="note">
                        {% if note.passed %}
                        <h3 style="color:rgb(100,100,100)">{{note.note}}</h3>
                        <h3 style="color:rgb(100,100,100)">{{note.reminder}}</h3>
                        {% else %}
                        <h3>{{note.note}}</h3>
                        <h3>{{note.reminder}}</h3>
                        {% endif %}
                    </div>
                </a>
            {% empty %}
                <div class="note">You don't have notes for this day</div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}